[[source]]
url = "https://pypi.tuna.tsinghua.edu.cn/simple"
name = "pypi"
verify_ssl = true

[packages]
requests = "*"
numpy = "*"
scipy = "*"
matplotlib = "*"

[dev-packages]

[requires]
python_version = "3.5"
